<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">This is the menu content.</ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>SkeletonApp</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content [fullscreen]="true">
    <ion-card>
      <ion-card-content>
        <!-- Input Usuario -->
        <ion-list>
          <form #myForm="ngForm">
            <ion-card-header>
              <ion-title class="titulo-login">Iniciar Sesión</ion-title>
            </ion-card-header>
            <ion-row>
              <ion-col>
                <ion-input
                  class="usuario"
                  name="usuario"
                  [(ngModel)]="user.usuario"
                  type="text"
                  fill="outline"
                  label="Usuario"
                  label-placement="floating"
                  pattern="[a-zA-Z0-9]+"
                  minlength="3"
                  maxlength="8"
                  placeholder="Ingrese nombre de usuario"
                  helper-text="* El nombre de usuario debe contener un largo mínimo de 3 carácteres y un máximo de 8, puede contener letras y números."
                  error-text="Porfavor ingrese un nombre de usuario válido"
                  required>
                </ion-input>
              </ion-col>
            </ion-row>
            <!-- Input Contraseña -->
            <ion-row>
              <ion-col>
                <ion-input
                  [(ngModel)]="user.password"
                  type="password"
                  name="password" 
                  fill="outline"
                  label="Contraseña"
                  label-placement="floating"
                  placeholder="Ingrese contraseña"
                  pattern="[0-9]{4}"
                  maxlength="4"
                  helper-text="La contraseña debe poseer sólo 4 dígitos numéricos."
                  error-text="Porfavor ingrese una contraseña válida."
                  required>
                </ion-input>
              </ion-col>
            </ion-row>
            <!-- Botón Ingresar -->
            <ion-row class="ion-justify-content-center ion-align-items-center">
              <ion-col>
                <div class="ion-text-center">
                  <ion-button (click)="ingresar()" shape="round">Ingresar</ion-button>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <div class="ion-text-center">
                  <a href="#">Crea tu cuenta gratis</a>
                </div>
              </ion-col>
            </ion-row>
          </form>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-content>
</div>


